body {
    background-color: lightpink;
    margin: 0%;
}
#NomePagina {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

#navbar {
    height: 40px;
    width: 100%;
    background-color: lightgrey; 
}

#ListaNav {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}